.body {
    padding: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    justify-content: space-between;
    padding: 5% 0;
}

.input {
    border-radius: 5;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.box {
    position: relative;
    background-color: lightblue;
    aspect-ratio: 1/1;
}