.body {}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    position: relative;
    background-color: lightblue;
    width: 6.25%;
    aspect-ratio: 1/1;
}