body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button {
    border-color: aliceblue;
    border-style: solid;
}

.main {
    min-width: 90%;
    min-height: 50%;
}

.display-screen {
    margin: 0;
    justify-content: end;
    padding: 0 10px;
}

.numpad {
    padding: 5px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    height: 20rem;
}

.numpad-left,
.numpad-right {
    display: flex;
    flex-wrap: wrap;
}

.numpad-left {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.numbers {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.numpad-left.bottom {
    flex-direction: row;
}

.numpad-left.bottom .numbers {
    width: 66.33%;
}

.numpad-left.bottom .period {
    width: 33.33%
}

.numpad-left.top {
    flex-direction: row-reverse;
}


.numpad-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 25
}

.operator {
    width: 100%
}