.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numpad {
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

.numbers,
.operator,
.equals {
    background-color: white;
    padding: 10px;
    margin: 5px;
}